@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Oswald:wght@200&family=Palanquin:wght@100&family=Poppins&family=Raleway&display=swap");

/* UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Raleway", sans-serif;
}

/* NAVBAR SECTION */

.nav {
  width: 100%;
  height: 80px;
  background-color: aliceblue;
  display: flex;
}

.n1 {
  width: 50%;
  /* border: 1px solid #000; */
  display: inline-block;
  padding: 22px 120px;
}

.n1 a {
  color: blue;
  font-weight: 600;
  cursor: pointer;
  font-size: 25px;
  padding-left: 30px;
}

.n1 a:hover {
  color: rgba(0, 0, 255, 0.692);
  transition: all 0.1s;
}

.n1 span {
  color: orange;
  font-weight: 600;
}

.n1 span:hover {
  color: rgba(255, 166, 0, 0.705);
  transition: all 0.1s;
}

.n2 {
  width: 50%;
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
}

.n2 ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

.n2 a {
  cursor: pointer;
  color: rgb(107, 107, 255);
  font-weight: 400;
  font-size: 18px;
}

.n2 .active {
  color: blue;
  font-weight: 700;
}

.n2 a:hover,
.active {
  color: rgba(0, 0, 255, 0.751);
  font-weight: 600;
  transition: all 0.1s;
}

.n2 .contactbtn {
  margin-left: 70px;
  background-color: rgb(77, 77, 255);
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  padding: 10px 50px;
}

.n2 .contactbtn:hover {
  color: white;
  font-size: 18px;
  background-color: rgba(77, 77, 255, 0.79);
  transition: all 0.1s;
  font-weight: 500;
}

.nav .hamicon {
  display: none;
}

/* MEDIA QUERY */

@media screen and (min-width: 0) and (max-width: 576px) {
  .nav .n2 {
    display: none;
  }

  .nav a {
    padding-left: 0px !important;
  }

  .nav .hamicon {
    display: block;
  }

  .b1 h1 {
    font-size: 50px !important;
  }

  .btn2 {
    text-align: center;
    padding-top: 0 !important;
  }

  .mbtn {
    line-height: 8;
    margin-left: 5px;
  }
  .dbtn {
    margin-left: 5px !important;
  }

  .clichild {
    height: 200px !important;
    width: 200px !important;
    margin-bottom: 50px;
  }
  .clichild2 {
    margin-left: 10% !important;
  }

  .news {
    height: max-content !important;
  }

  .newschild {
    height: 330px !important;
  }

  .newschild h1 {
    font-size: 30px !important;
  }

  .newschild input {
    height: 50px !important;
    margin-top: 50px !important;
  }

  .customer p {
    padding: 0px 15px !important;
  }

  .footer {
    height: max-content !important;
  }
}

@media screen and (max-width: 992px) {
  .nav .hamicon {
    display: inline-block;
    margin: 15px auto;
    font-size: 40px;
    color: blue;
  }
  .nav .n2 {
    display: none;
  }

  .best {
    flex-wrap: wrap;
  }
  .best .b1 {
    flex: 1 700px;
  }

  .best .b2 {
    flex: 1 700px;
  }

  .ourservice .ourp {
    padding: 50px 0px;
  }

  .opt {
    width: max-content;
    height: max-content;
  }

  .optchild {
    flex: 2 300px;
    margin: 50px 50px !important;
  }

  .clinic {
    flex-wrap: wrap;
  }
}

/* BEST SPECIALIST SECTION*/
.best {
  height: auto;
  /* border: 1px solid #000; */
  background-color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  flex: 1 1;
}

.b1 {
  height: 700px;
  width: 50%;
  /* border: 1px solid #000; */
  flex: 1;
  padding: 3% 10%;
}

.b2 {
  height: 700px;
  width: 50%;
  /* border: 1px solid #000; */
  flex: 1;
}

.b1 p {
  color: #333;
  font-weight: 600;
  font-size: 25px;
  padding: 20px 0px;
}

.b1 h1 {
  font-size: 65px;
  color: navy;
  margin-top: 40px;
}

.b1 .pcc {
  color: black;
  font-weight: 600;
  font-size: 20px;
  margin-top: 40px;
  line-height: 2;
}

.btn2 {
  height: max-content;
  width: 100%;
  display: inline-block;
  /* border: 1px solid #000; */
  padding-top: 80px;
}

.mbtn {
  color: white;
  font-weight: 500;
  background-color: rgb(78, 78, 255);
  border-radius: 50px;
  font-size: 15px;
  padding: 20px 35px;
  margin-top: auto;
  cursor: pointer;
}

.mbtn:hover {
  background-color: rgba(78, 78, 255, 0.715);
}

.dbtn {
  color: white;
  font-weight: 500;
  background-color: orange;
  border-radius: 50px;
  font-size: 15px;
  padding: 20px 75px;
  margin-left: 30px;
  cursor: pointer;
}

.dbtn:hover {
  background-color: rgba(255, 166, 0, 0.712);
}

.b2 img {
  height: 60%;
  width: 80%;
  margin-top: 50px;
  border-radius: 50px;
  /* border: 1px solid #000; */
}

.bgimg1 .bgicon {
  font-size: 4000%;
  color: rgb(0, 162, 255);
  aspect-ratio: 1/1;
}

/* OUR SERVICES SECTION */
.ourservice {
  height: max-content;
  width: 100%;
  background-color: aliceblue;
  /* border: 1px solid #000; */
}

.ourservice .ourh {
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
  color: navy;
}

.ourservice .ourp {
  font-size: 20px;
  text-align: center;
  line-height: 2;
  padding: 30px 0px;
}

.opt {
  height: max-content;
  width: 100%;
  /* border: 1px solid #000; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.optchild {
  height: 300px;
  width: 250px;
  /* border: 1px solid #000; */
  border-radius: 50px;
  margin: 50px 50px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 5px 5px 15px lightgrey;
}

.optchild h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
.optchild p {
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
}
.optchild:hover {
  transform: scale(1.15);
  transition: all 0.1s;
  background-color: blue;
  color: white;
}
.optchild .osicon1,
.optchild .osicon2,
.optchild .osicon3,
.optchild .osicon4 {
  margin: auto;
  display: block;
}
.optchild .osicon1 {
  color: rgb(0, 162, 255);
  font-size: 150px;
}

.optchild .osicon2 {
  color: rgb(0, 162, 255);
  font-size: 150px;
}

.optchild .osicon3 {
  color: rgb(0, 162, 255);
  font-size: 150px;
}

.optchild .osicon4 {
  color: rgb(0, 162, 255);
  font-size: 150px;
}

/* CLINIC SECTION */
.clinic {
  height: max-content;
  width: 100%;
  /* border: 1px solid #000; */
  background-color: aliceblue;
  display: flex;
}

.c1 {
  height: 850px;
  width: 100%;
  /* border: 1px solid #000; */
  text-align: center;
}

.c2 {
  height: 900px;
  width: 100%;
  /* border: 1px solid #000; */
  align-items: center;
}

.clinich {
  color: navy;
  font-size: 50px;
  text-align: center;
  padding-top: 35%;
}

.clinicp {
  font-size: 20px;
  text-align: center;
  line-height: 2;
  padding-top: 5%;
  padding-bottom: 50px;
}

.clinicbtn {
  background-color: rgb(77, 77, 255);
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  padding: 15px 50px;

  cursor: pointer;
}

.clinic .clinicbtn:hover {
  color: white;
  font-size: 18px;
  background-color: rgba(77, 77, 255, 0.79);
  transition: all 0.1s;
  font-weight: 500;
}
.c2 div {
  position: relative;
  box-shadow: 1px 2px 20px 1px #c5d3df;
}
.clichild {
  height: 240px;
  width: 240px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 15px lightgrey;
}
.clichild1 {
  /* border: 1px solid #000; */
  margin-left: 20%;
  margin-top: 10%;
}

.clichild2 {
  margin-left: 50%;
}

.clichild3 {
  margin-left: 20%;
  /* border-radius: 50px; */
}
.clichild img {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  position: relative;
  top: -70px;
  left: 25px;
}
.clichild h1 {
  position: relative;
  top: -50px;
  left: 20px;
  font-size: 22px;
}

/* BEST 2 SECTION */
.bs {
  height: max-content;
  width: 100%;
  background-color: aliceblue;
  /* border: 1px solid #000; */
}

.bs h1 {
  color: navy;
  font-size: 50px;
  text-align: center;
  padding-top: 5%;
}

.bs p {
  font-size: 20px;
  text-align: center;
  line-height: 2;
  padding-top: 1%;
  padding-bottom: 50px;
}

.bschild {
  height: max-content;
  width: 100%;
  /* border: 1px solid #000; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* CUSTOMER SECTION */
.cs {
  height: max-content;
  padding-bottom: 15px;
  width: 100%;
  background-color: aliceblue;
  /* border: 1px solid #000; */
}

.cs h1 {
  font-size: 40px;
  color: navy;
  padding: 8% 0 0 3%;
}
.csinner {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  /* border: 1px solid #000; */
}

/* NEWSLETTER SECTION */
.news {
  height: 500px;
  width: 100%;
  background-color: aliceblue;
  text-align: center;
  /* border: 1px solid #000; */
}

.newschild {
  height: 400px;
  width: 80%;
  background-color: blue;
  padding: 50px auto;
  border-radius: 30px;
  text-align: center;
  margin-left: 10%;
}

.newschild h1 {
  font-size: 50px;
  color: white;
  padding-top: 50px;
}

.newschild p {
  font: 30px;
  color: white;
  padding-top: 20px;
}

.newschild input {
  height: 80px;
  width: 80%;
  margin-top: 100px;
  border-radius: 10px;
}

/* NAVBAR 2 SECTION */

.nav2 ul {
  margin-left: 220px;
}

/* FOOTER SECTION */
.footer {
  height: 120px;
  width: 100%;
  background-color: #c5d3df;
  padding: 20px 130px;
  flex-wrap: wrap;
}

.footer .ficon {
  font-size: 50px;
  color: black;
  border-radius: 50%;
  background-color: aliceblue;
  padding: 10px 10px;
}
